.App {
  max-width: 54rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: sans-serif;
}

.pokemon__list_title {
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 2rem;
  text-align: center;
}
